<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div {
            padding: 10px;
            border: 1px solid red;
        }
    </style>
    <script src="jquery-1.10.2.js"></script>
    <script>
        if (window) {

        } else {

        }
    </script>
</head>
<body>
    template
</body>
</html>
<script>
    var data = {
        title: "mytitle",
        data: { exist: "true", data: "data000" },
        msg: [{ msg1: "111", msg2: "222" }, { msg1: "m111", msg2: "m222" }]
    };
    $.get('http://localhost:14121/template/template.html', function (template) {
        var res = parseHTML(template, data);
        $("body").append(res);
        var s = 0;
    });

    function parseHTML(html, model) {
        if (data) {
            html = parseTemplate1(html, model);
        }
        var tmp = document.createElement("div");
        tmp.innerHTML = html;
        return tmp.childNodes[0];//只允许有一个根节点
    }
    function parseTemplate(html, model) {
        html = html.replace(/[\r\n]/g, "").replace(/'/g,"\\'");
        var exportTag = "@((?!if|for|switch)[\\w.\\[\\]]+)",     //输出语法,执行后再拼接字符串
            blockTag = "@((if|for|switch).+?{)",     //块级语法,直接输出
            elseTag = "(}\s*else\s*{)",          //else块,直接输出
            regex = new RegExp(exportTag + "|" + blockTag + "|" + elseTag + "|(})", "g"),
            code = "var p=[];",
            cursor = 0;
        var match = regex.exec(html);
        while (match) {
            console.log(match);
            var preSection = html.slice(cursor, match.index),
                value = match[1] || match[2] || match[3] || match[4] || match[5];

            cursor = match.index + match[0].length;
            code += "p.push('" + preSection + "');";  //字符串部分
            code += match[1] ? "p.push(" + value + ");":value; //代码部分
            match = regex.exec(html);
        }
        code += "p.push('" + html.slice(cursor) + "');return p.join(\'\')";
        var fn = new Function("model", code);
        return fn(model);
    }

    function parseTemplate1(html, model) {
        html = html.replace(/[\r\n]/g, "").replace(/'/g, "\\'");
        var cursor = 0;
        var code = "var p=[];\n";
        var reg = /@/g;
        var match = reg.exec(html);
        while (match) {
            var preHtml = html.slice(cursor, match.index);
            cursor = match.index;
            if (html.slice(match.index, match.index + 3)==="@if") {
                cursor++  //跳过@符号;
                code += "p.push('" + preHtml + "');\n";
                var frag = "";
                var word = html.slice(cursor, cursor + 1);
                var preB = 1;
                var i = 0;
                while (true) {
                    frag += word;
                    cursor++;
                    if (word === "{") preB++;
                    if (word === "}") preB--;
                    if (preB === 0) break;
                    word = html.slice(cursor, cursor + 1);
                    
                }
                code += frag;
            }else if (html.slice(match.index, match.index + 4) === "@for") {

            } else {
                cursor++;     //跳过@符号;
                code += "p.push('" + preHtml + "');\n";
                var p = "";
                var word = html.slice(cursor, cursor + 1);
                while (/[\w.\[\]]/g.test(word)) {
                    p += word;
                    cursor++;
                    word = html.slice(cursor, cursor + 1);
                    
                }
                code += "p.push("+p+");\n";
            }
            
            
            match = reg.exec(html);
            
        }
        console.log(code);
    }

</script>