<div id="calendar" class="calendar">
    <div id="calendar_title_containter" class="calendar_title_containter">@model.title</div>
    <div id="calendar_title_containter" class="calendar_title_containter">
        @if(model.data.exist == "true")
        {
        <div>@model.data.exist+":" + @model.data.data</div>
        }
        else
        {
        <div>0:0</div>
        }

        @for(var i = 0; i < model.msg.length;i++){
        <div>@i,@model.msg[i].msg1,@model.msg[i].msg2</div>
        }
    </div>


    <div id="calendar_title_containter" class="calendar_title_containter">
        <div>@model.msg[0].msg1</div>
    </div></div>

