<div id="calendar" class="calendar">
    <div id="cal1" class="cal1"><%=model.title%></div>
    <div id="cal2" class='cal2'>
        <%if(model.data.exist == "true"){%>
           <div><%=model.data.exist%>+",'" + <%=model.data.data%> </div> 
        <%}else{%>
           <div>0:0</div> 
        <%}%>
        <%for(var i = 0; i < 10;i++){%>
           <div><%=i%></div>
        <%}%>
    </div>
    <div id="cal3" class="cal3">
        <div><%=model.msg[0].msg1%></div>
    </div>
</div>
