@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div {
            border: 1px solid red;
            padding: 5px;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>
        $(function () {
            $.get('http://localhost:32688/home/t1', function (data) {
                $("#dv1").append(data);
            });
        })
    </script>
</head>
<body id="body">
    
    <div id="dv1"></div>
    

    
</body>
</html>
<script>
        


</script>

