@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        div {
            padding: 10px;
            border: 1px solid red;
        }
    </style>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script>

    </script>
</head>
<body>
    
</body>
</html>
<script>
    var data = {
        title: "mytitle",
        data: { exist: "true", data: "data000" },
        msg: [{ msg1: "111", msg2: "222" }, { msg1: "m111", msg2: "m222" }]
    };
    $.get('http://localhost:14121/template.html', function(template) {
        var res = parseHTML(template, data);
        $("body").append(res);
        var s = 0;
    });

    function parseHTML(html, data) {
        if (data) {
            html = parseTemplate(html, data);
        }
        var tmp = document.createElement("div");
        tmp.innerHTML = html;
        return tmp.childNodes[0];//只允许有一个根节点
    }
    function parseTemplate(html, data) {
        //each 语法块
        html = html.replace(/{{each\s+(.+?)}}(.+?){{\/each}}/, function (g1, g2, g3) {
            return parseEachSyntax(eval(g2), g3);
        });
        //if 语法块
        html = html.replace(/{{if\s+(.+?)}}(.+?){{else}}?(.+?){{\/if}}/, function(g1, g2, g3, g4) {
            var s = 0;
        });
        //输出语法
        html = html.replace(/{(.+?)}/g, function (g1, g2) {
            return eval(g2);
        });
        return html;
    }
    function parseEachSyntax(g2, g3) {
        var result = "";
        g3 = g3.replace(/{(item\.)(.+?)}/g, "{data.$2}");
        for (var i = 0; i < g2.length; i++) {
            var item = g2[i];
            item.index = i;
            result += parseTemplate(g3, item);
        }
        return result;
    }

</script>